<html>
  <body>

    <h1>{{expression|safe}}</h1>

    <br/>
    <h3>Partagez cette expression avec vos amis !</h3>
    <p>
      Envoyez-leur ce lien :
      <a href="{{permalink_to_expr}}">{{permalink_to_expr}}</a>
    </p>

    <br/>
    <h3>Vous en voulez encore ?</h3>
    <form method="GET" action="{{link_to_get_random_expr}}">
      <input type="submit" value="Je veux une expression au hasard."/>
    </form>

    <form method="POST" action="{{link_to_post_specific_expr}}">
      Ou bien, entrez un nombre :
      <input name="seedInForm"/>
      , et cliquez ici :
      <input type="submit" value="car je veux une expression pas au hasard." />
      <br/>
      (Pour utiliser la version pr&eacute;c&eacute;dente, ajouter "_001" apr&egrave;s votre nombre.)
    </form>

    <p>
      J'en veux une dose r&eacute;guli&egrave;re, tous les jours &agrave; 16:64.
      <br/>
      Je vais suivre ce compte twitter :
      <a href="https://twitter.com/expressionotron">https://twitter.com/expressionotron</a>
    <p>

    <br/>
    <h3>Quelques liens</h3>
    <ul>
      <li>
        Ce site est librement et &eacute;hont&eacute;ment inspir&eacute; de
        <a href="http://www.nioutaik.fr/index.php/2007/09/06/386-l-expressionotron">
          l'expressionotron de nioutaik.
        </a>
      </li>
      <li>
        <a href="https://github.com/darkrecher/expressionotron">
          Code source sur github.
        </a>
      </li>
      <li>
        <a href="http://recher.wordpress.com">
          Mon blog
        </a>
        (images NSFW).
      </li>
      <li>
        <a href="https://twitter.com/_Recher_">
          Mon twitter.
        </a>
      </li>
      <li>
        <a href="http://sametmax.com">
          Sam et Max, des gens biens
        </a>
        (images NSFW non plus).
      </li>
      <li>
        <a href="http://recher.pythonanywhere.com/urluth/?u=yns">
          Lien &agrave; publicit&eacute;
        </a>
        , votre temps de cerveau me fait gagner des bitcoins.
      </li>
    </ul>

    <br/>
    <h3>Statistiques super utiles</h3>
    <p>
      Cette page a &eacute;t&eacute; vue {{nb_visitors}} fois.
    </p>

  </body>
</html>